.Solution-container .part-1 {
  background-image: url(../images/solution/ditu.png);
  color: #fff;
  position: relative;
}
.Solution-container .part-1-main {
}
.solution-info {
  height: 46px;
  width: 100%;
  background-image: url(../images/solution/solution-info.png);
  background-size: contain;
}

.Solution-container .part-1 .rpa-btn {
  margin: 10vh;
}
.solution-top-desc {
  font-family: HiraginoSansGB-W3;
  font-size: 18px;
  color: #abb1b1;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  width: 35%;
  position: absolute;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}
