/* Custom classes */

.flex {
  display: flex;
}

.flex_1 {
  flex: 1;
}

.flex_column {
  flex-direction: column;
}

.flex_between {
  justify-content: space-between;
}

.flex_around {
  justify-content: space-around;
}

.flex_center {
  justify-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.flex_wrap {
  flex-wrap: wrap;
}

.nav {
  padding: 0 15px;
  /* align-items: center; */
  /* justify-content: space-between; */
}
body {
  background: #3e3e589e;
}
.text-center {
  text-align: center;
}
.rpa-btn {
  background: #3dbdb6;
  border-radius: 2px;
  padding: 5px 2em;
  cursor: pointer;
  transition: all .5s linear;
}
.rpa-btn:hover {
  box-shadow: 1px 1px 6px 6px #3dbdb663;
}
.full-height {
  height: 100vh;
}
.header {
  background: #3e3e58;
  padding: 12px;
  position: fixed;
  width: 100%;
}
#home.header,
#product.header {
  background: transparent;
}
.dropdown {
  color: #eeeeee;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  margin: 0 1em;
}
.dropdown .dropdown_title span,
.dropdown .dropdown_title svg {
  vertical-align: middle;
}
.dropdown_source {
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgb(46 41 51 / 8%), 0px 8px 24px rgb(71 63 79 / 16%);
  left: 50%;
  transform: translateX(-50%);
  min-width: 100px;
  position: absolute;
  top: calc(100% + 15px);
  visibility: visible;
  z-index: 10;
  overflow: hidden;
  color: #333333;
  display: none;
}
.dropdown_source_show {
  display: block;
}
.dropdown_source li {
  padding: 6px 10px;
}
.dropdown_source li.active {
  color: #3dbdb6;
}
.dropdown_source li:hover {
  background-color: #3e3e5859;
}

.site_title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 5px;
  color: #eee;
}
.nav_item {
  color: #eeeeee;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
  font-weight: bold;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased; */
}
.nav_item.active,
.nav_item:hover {
  color: #3dbdb6;
}
.nav_item {
  position: relative;
  transition: all 0.4s linear;
}
.nav_item::after {
  content: "";
  height: 3px;
  width: calc(100% - 20px);
  position: absolute;
  bottom: -13px;
  left: 10px;
  opacity: 0;
  background-color: #3dbdb6;
  transition: all 0.4s linear;
}
.nav_item.active::after,
.nav_item:hover::after {
  opacity: 1;
}
.menu {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  display: none;
}

.menu-circle {
  background-color: #3e3e58;
  width: 100%;
  height: 100%;
  position: absolute;
  /* margin-top: -3px; */
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1000;
}

.menu:hover .menu-circle {
  transform: scale(1.5);
}

.menu.open .menu-circle {
  transform: scale(60);
}

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1002;
}

.menu-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

.menu-line {
  background-color: #fff;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-1 {
  top: 0;
}

.menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu-line-3 {
  bottom: 0;
}

.menu.open .menu-line-1 {
  transform: translateY(7px) translateY(-50%) rotate(-135deg);
}

.menu.open .menu-line-2 {
  opacity: 0;
}

.menu.open .menu-line-3 {
  transform: translateY(-7px) translateY(50%) rotate(135deg);
}

.menu-overlay {
  background-color: #3e3e58;
  color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 1001;
}

.menu-overlay.open {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.03s;
}

.menu-overlay a {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  padding: 2%;
  margin: 7% 1% 0;
  display: block;
}
.nav-header {
  width: 100%;
  margin: 0 auto;
  font-size: 11px;
  margin-top: 10%;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: bold;
  position: relative;
  transform: translateZ(0);
}
.nav-header-text {
  padding: 0 10px;
  z-index: 1;
  position: relative;
  background-color: #3e3e58;
}
.nav-header-line {
  display: block;
  height: 2px;
  width: 100%;
  z-index: -1;
  background-color: #fff;
  /* position: absolute; */
  top: 12px;
  transform: scaleX(0.3);
}

@media only screen and (max-width: 480px) {
  .nav,
  .nav-right,
  .nav_item::after {
    display: none;
  }
  .menu {
    display: block;
  }
}
